<% @room.each do |t| %>
		<table class="table">
			<tbody>
				<tr>
					<td>
			            <%= t.type %>
		             </ul>
					</td>
				</tr>

				<tr>
					<td>
			            <%= t.price %>
		             </ul>
					</td>
				</tr>
			</tbody>
		</table>
<% end %>
