<body>
  <% @town.each do |t| %>
  <div class="town">
       <ol>
          <h1>
          <%= t.name %>
          </h1>
    </ol>
  </div>
  <% t.hotels.each do |thotels|%>
  <div class="border">
    <div class="hotels">
        <strong>
         <%= thotels.name %>
        </strong>
  </div>
        <% thotels.rooms.each do |rooms|%>
        <p>
          <%= rooms.type %>
         <%= rooms.price %>
    </p>
    <% end %>
  </div>
    <% end %>
  <% end %>
</body>

