<div class="jumbotron">
	<strong>The cheapest single room in <% @town.name %></strong>
	<div class="cointainer">

		<%= Room.where(type:  'single room').minimum("price") %>
	</div>
</div>
<% Hotel.where (Room.where(type:  'single room').minimum("price")) %>